* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  font-family: "Nerko One";
}

:root {
  --control: #e69119;
  --color: #fff;
  min-height: 100vh;
}

body {
  background: linear-gradient(#d1e9fa 0 50%, #86c270 50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 60px;
}

button:hover {
  cursor: pointer;
}

.container {
  width: 100vw;
  height: 100vh;
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  min-width: 100%;
}

.grid-card {
  width: 100%;
  background-color: #d9d9d9;
  border: 2px solid black;
}