.game-grid {
    display: grid;
    grid-template-columns: repeat(8,1fr);
}

.player-character {
    width: 10px;
    height: 10px;
    background-color: red;
}

.game-card {
    width: 100%;
    background-color: #d9d9d9;
    border: 2px solid black;
}